<div class="col-md-6">
	<div class="row">
		<div class="col-md-6">
			<h2>Nuevo curso</h2>
		</div>
	</div>
	<form id="login-form" action="/gen_course/add" method="post">
		<div class="form-group">
			<input type="number" name="grade" id="grade" class="form-control" placeholder="Grado">
		</div>
		<div class="form-group">
			<input type="text" name="letter" id="letter" class="form-control" placeholder="Salón">
		</div>
		<div class="form-group">
			<input type="number" name="year" id="year" class="form-control" placeholder="Año">
		</div>
		<br>
		<button type="submit" class="btn btn-primary">Guardar</button>
	</form>
</div>