<div class="col-md-12">


    <form id="login-form" action="/App/QQSMGameConfig" method="post">

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                        <label for="">Puntuación</label>
                        <label for=""><%=score%></label>
                </div>
                <div class="col-md-6">
                        <label for="">Ayudas</label>
                        <label for=""><%=help%></label>
                    </div>
            </div>
        </div>
        
        <div class="form-group">
                <%=message%>
        </div>
        
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Continuar</button>
        </div>
    </form>
</div>