<div class="container-fluid">
	<h2 style="text-align: center">DEVELOPMENT PROJECT</h2>
	<h3>IS-3</h3>
	<h3>Team HASH:</h3>
	<h4 style="padding-left: 5%">Héctor Agustín Charry</h4>
	<h4 style="padding-left: 5%">Aldaír Vargas Falla</h4>
	<h4 style="padding-left: 5%">Santiago Loaiza Giraldo</h4>
	<h4 style="padding-left: 5%">Sergio Posada Urrea</h4>
</div>